@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@layer base {
  body {
    @apply font-[Montserrat];
    @apply scroll-smooth;
    @apply bg-dark-2;
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@layer components {
  .tooltip:hover{
    z-index: 999;
  }

  .carousel-side{
    filter: drop-shadow(0 0 16px rgb(0, 0, 0)) brightness(70%)
  }
  .carousel-active{
    filter: drop-shadow(0 0 32px rgb(119, 119, 237))
  }
  .text-shadow{
    text-shadow: 0 0 32px #485bbc,  0 0 16px #8997dc;
  }

.text-shadow-2{
  text-shadow: 0 0 16px rgb(25, 6, 46);
}
  .me{
    background-image: url('./assets/art/me_2.jpg');
    box-shadow: 16 16 64px #0000003f;

  }
  .sporo{
    background-image: linear-gradient(to top, rgba(8, 1, 38, 0.169), rgba(24, 9, 70, 0.855)), url('./assets/thumbnails/sporo.gif');
    background-position: left;
    backdrop-filter: brightness(0);
  }
  .bg-dark-2{
    @apply bg-[#090b0f]
  }
  .bg-dark-1{
    @apply bg-[#0e1016]
  }

  .tab {
    @apply w-[50%] text-white table
  }
  .tab p{
    @apply font-bold text-xl h-full w-full table-cell align-middle text-center shadow-2xl
  }
  .purple-gradient{
    @apply bg-gradient-to-b from-purple-700 to-transparent 
  }
  .blue-gradient{
    @apply bg-gradient-to-b from-blue-500 to-transparent
  }
  .skills{
    @apply  mx-[5%] flex flex-row justify-center border-gray-900 border-4 rounded-md mt-4
  }

  .skills .flex-col {
    @apply mb-5 mx-2 w-[33%] lg:w-[20%];
    @apply text-center;
  }
  .skills h1 {
    @apply text-white font-bold my-3;
  }
  .skills img {
    @apply w-24;
  }
  .skills p {
    @apply text-gray-300 text-sm md:text-lg my-2;
  }

  .side-nav {
    @apply w-[160px] h-[60px] ml-[-100px] hover:ml-[-10px] flex justify-between items-center  duration-300 hover:rounded-md drop-shadow;
  }
  .top-nav {
    @apply text-gray-400 hover:text-white hover:font-extrabold border-transparent hover:border-violet-500 border-b-4 h-8 duration-100 mx-3;
  }
}
